/* ------------------------------------------------------ */
/* ---------------------- Geral ------------------------- */
/* ------------------------------------------------------ */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: "Roboto", sans-serif;
    --cor-preto: #272635;
    --cor-branco: #EEEBD0;
    --cor-amarela: #F77F00;
    --cor-roxa: #6F48A3;
    --cor-vermelha: #941B0C;
}

.wrapper{
    width: 1152px;
    margin: 0 auto;
}

/* ------------------------------------------------- */
/* ---------------------- Nav ---------------------- */
/* ------------------------------------------------- */

nav{
    position: fixed;
    left: 0;
    right: 0;
    background-color: var(--cor-preto);
    padding: 5px 0;
    z-index: 201;
}

nav .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo img{
    width: 160px;
    height: auto;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li a, nav ul li a:visited{
    color: var(--cor-branco);
    text-decoration: none;
    margin: 0 20px;
    text-transform: uppercase;
    font-size: 14px;
}

nav .search-icon{
    cursor: pointer;
}

nav .search-icon img{
    width: 25px;
    height: auto;
}
/* ---------------------------------------------------- */
/* ---------------------- header ---------------------- */
/* ---------------------------------------------------- */

header{
    padding: 86px 0;
    height: 550px;
}

.painel1{
    width: 66%;
    height: 410px;
    float: left;
}

.painel1 img {
    width: 100%;
    height: 410px;
}

.img-painel1{
    height: 410px;
}

.painel1 .info-painel1{
    height: 320px;
    padding: 160px 32px;
    z-index: 200;
    position: relative;
    bottom: 324px;
    color: var(--cor-branco);
    background-image: linear-gradient(#fff0, #000000f5);
}

.painel1 h2{
    font-size: 41px;
    text-shadow: #20f2f2 1px 1px 0px, #d94064 -1px -1px 0px, #000 0px 0px 5px;
    text-transform: uppercase;
    padding-top: 46px;
}

.painel2{
    width: 33%;
    height: 200px;
    float: right;
    margin-bottom: 10px;
}

.painel2 img {
    width: 100%;
    height: 200px;
}

.painel3{
    width: 33%;
    height: 200px;
    float: right;
}

.painel3 img {
    width: 100%;
    height: 200px;
}

/* ------------------------------------------------------ */
/* ---------------------- Sections ---------------------- */
/* ------------------------------------------------------ */

#principal h2:nth-child(1){
    border-left: 10px solid #6F48A3;
    padding-left: 9px;
}

#principal h2:nth-child(3){
    border-left: 10px solid #941B0C;
    padding-left: 9px;
}

#principal h2:nth-child(5){
    border-left: 10px solid #F77F00;
    padding-left: 9px;
}

section{
    display: flex;
    margin: 25px 0 50px 0;
}

article{
    width: 33%;
    margin: 0 10px 0 0;
}

article img{
    width: 100%;
    height: 230px;
}

#principal h2{
    font-family: 'Roboto', sans-serif;
    font-size: 41px;
}

/* ------------------------------------------------------ */
/* ----------------------- Footer ----------------------- */
/* ------------------------------------------------------ */

footer{
    padding: 15px 0;
    margin-top: 50px;
}